- var pageTitle = page.metaTitle || page.title || metaTitle
- var pageDescription = page.metaDescription || metaDescription
- var pageImage = page.image || metaImage
- var pageUrl = url + page.url

doctype html
html(lang='en-gb')
  head
    meta(charset='utf-8')
    title= page.metaTitle || page.title ? page.title + ' / ' + metaTitle : metaTitle
    meta(name='viewport', content='initial-scale=1')
    style: include ../_css/index.css
    meta(name='description', content=pageDescription)
    link(rel='canonical', href=pageUrl)
    link(rel='source' href='https://github.com/pliersjs/pliersjs.github.io')
    //- each size in [57, 60, 72, 76, 114, 120, 144, 152]
      link(rel='apple-touch-icon', href='/img/apple-touch-icon-#{size}x#{size}.png', sizes='#{size}x#{size}')
    //- each size in [16, 32, 96, 160, 196]
      link(rel='icon', type='image/png', href='/img/favicon-#{size}x#{size}.png' sizes='#{size}x#{size}')
    <!--[if IE]><link rel='shortcut icon' type='image/x-icon' href='/favicon.ico')<![endif]-->
    meta(name='msapplication-TileColor', content=metaTileColor)
    meta(name='msapplication-TileImage', content=metaImage)
    meta(itemprop='name', content=pageTitle)
    meta(itemprop='description', content=pageDescription)
    meta(itemprop='image', content=pageImage)
    meta(property='og:url' content=pageUrl)
    meta(property='og:type' content='website')
    meta(property='og:site_name' content=domain)
    meta(property='og:title' content=pageTitle)
    meta(property='og:description' content=pageDescription)
    meta(property='og:image' content=pageImage)
    meta(property='og:updated_time' content=time.format())
    meta(name='twitter:card' content='summary')
    meta(name='twitter:domain' content=domain)
    meta(name='twitter:title' content=pageTitle)
    meta(name='twitter:description' content=pageDescription)
    meta(name='twitter:image' content=pageImage)
    if page.noindex
        meta(name='robots', content='noindex,nofollow')
  body
    include ./layout/main-header

    main.main-content(role='main')
      block contents
        != contents

    include ./layout/main-footer
